.git

# Config files and folders to ignore.
config/.config/gh/hosts.yml
config/.config/tmux/plugins
config/.config/go
config/.config/iterm2
config/.config/systemd
config/.config/coderv2

# System files
.DS_Store
