.git

# Config files and folders to ignore.
config/.config/gh/hosts.yml
config/.config/tmux/plugins
config/.config/go
config/.config/iterm2
config/.config/systemd
config/.config/coderv2
config/.config/configstore
config/.config/gcloud
config/.config/firebase
config/.config/create-next-app-nodejs
config/.config/nextjs-nodejs
config/.config/github-copilot
config/.config/gopls
config/.config/session/dolphin_dolphin_dolphin
config/.config/sunshine
config/.config/dolphinrc
config/.config/atelier-go/client.local.toml

# System files
.DS_Store
.env
